{% extends 'base.html'%}

{% block content %}

{% if user.is_authenticated%}

<table class="table table-striped table-hover table-bordered">
  <thead class="table-warning">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">First Name</th>
      <th scope="col">Last Name</th>
      <th scope="col">Email</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">Address</th>
      <th scope="col">State</th>
      <th scope="col">City</th>
      <th scope="col">Pin Code</th>
      <th scope="col">Created At</th>
    </tr>
  </thead>
  <tbody>
    {% if records %}
       {% for record in records %}
       <tr>
              <td><a href="#">{{ record.id }}</a></td>
              <td>{{ record.first_name }}</td>
              <td>{{ record.last_name }}</td>
              <td>{{ record.Email }}</td>
              <td>{{ record.Phone_number }}</td>
              <td>{{ record.Address }}</td>
              <td>{{ record.State }}</td>
              <td>{{ record.City }}</td>
              <td>{{ record.Pin_code }}</td>
              <td>{{ record.created_at }}</td>
            </tr>
    {% endfor %}
  {% endif %}
  </tbody>
</table>

    {% else %}
    <h1>Login</h1>
    <br/>
    <form method="POST" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="mb-3">
          <input type="text" class="form-control" name="username" placeholder="Enter Your UserName" required>
        </div>
        <br/>
        <div class="mb-3">
          <input type="password" class="form-control" name="password" placeholder="Enter Your Password" required>
        </div>
        <br/>
        <button type="submit" class="btn btn-primary">Login</button>
      </form>
{% endif %}

{% endblock %}